body {
  background-color: brown;
}

.intro {
  color: white;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
.intro2 {
  color: chartreuse;
  font-style: italic;
  border: solid cornsilk 8px;
}